@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: Arial, Helvetica, sans-serif;
    --cor0: #0A6073; 
    --cor1: #0B0D0C;
    --cor2: #D9AD29;
    --cor3: #BF861B;
    --cor4: #F2F2F2;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor4);
    color: var(--cor1);
}


h1 {
    text-align: center;
    margin: 5px;
    padding: 5px;
}


div#calculadora {
    display: grid;
    grid-template-columns: 8px repeat(4, 1fr);
    grid-template-rows: 8px 2fr repeat(5, 1fr) 8px;
    gap: 8px;
    align-content: center;
    background-color: var(--cor0);
    width: 300px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.384);
}

div.botao, div#AC {
    background-color: var(--cor2);
    border-radius: 15px;
    text-align: center;
    font-size: 1.2em;
    padding-top: 12px;
    transition: background-color 0.5s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.384);
    text-shadow: 2px 2px 5px var(--cor3);
}

div.botao:hover, div#AC:hover {
    background-color: var(--cor3);
    cursor: pointer;
}

div.botao:active, div#AC:active {
    background-color: var(--cor2);
    transform: scale(0.98);
}

#tela {
    grid-area: 2 / 2 / 3 / 8;
    width: 268px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.384);
    background-color: var(--cor4);
    overflow-x: scroll;
    /*direction: rtl;*/
    text-align: end;
    padding: 15px;
    font-size: 2em;
}

#AC {
    grid-area: 3 / 2 / 4 / 3;
}

#zero {
    grid-area: -2 / 2 / -3 / 4;
}

#um {
    grid-area: -3 / 2 / -4 / 3;
}

#dois {
    grid-area: -3 / 3 / -4 / 4;
}

#tres {
    grid-area: -3 / 4 / -4 / 5;
}

#quatro {
    grid-area: 5 / 2 / 6 / 3;
}

#cinco {
    grid-area: 5 / 3 / 6 / 4;
}

#seis {
    grid-area: 5 / 4 / 6 / 5;
}

#sete {
    grid-area: 4 / 2 / 5 / 3;
}

#oito {
    grid-area: 4 / 3 / 5 / 4;
}

#nove {
    grid-area: 4 / 4 / 5 / 5;
}

#divisao {
    grid-area: 3 / 3 / 4 / 4;
}

#multi {
    grid-area: 3 / 4 / 4 / 5;
}

#menos {
    grid-area: 3 / 5 / 4 / 6;
}

#mais {
    grid-area: 4 / 5 / 6 / 6;
}

#igual {
    grid-area: 6 / 5 / 8 / 6;
}

#ponto {
    grid-area: 7 / 4 / 8 / 5
}