body{
    background-color: rgb(187, 118, 252);
    text-align: center;
}
h1{
    color: aliceblue;
    font-weight: bolder;
}
#corpo{
    background-color: rgb(226, 214, 214);
    height: 390px;
    width: 300px;
    margin: auto;
    border-radius: 10px;
}
#display{
    background-color: aliceblue;
    height: 50px;
    max-height: 50px;
    width: 250px;
    max-width: 250px;
    margin: auto;
    border-radius: 10px;
    position: relative;
    top: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: rgba(0, 0, 0, 0.548);
    font-size: 50px;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
}

#l1{
  display: flex;
  justify-content: space-evenly; 
  align-items: center; 
  position: relative;
  top: 60px;
}
#apagar{
    background-color: aliceblue;
    height: 45px;
    width: 45px;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 40px;
}
#mult{
    background-color: aliceblue;
    height: 45px;
    width: 45px;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 40px;
}
#div{
    background-color: aliceblue;
    height: 45px;
    width: 45px;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 40px;
}
#sub{
    background-color: aliceblue;
    height: 45px;
    width: 45px;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 40px;
}
#l2{
  display: flex;
  justify-content: space-evenly; 
  align-items: center; 
  position: relative;
  top: 70px;
}
#sete{
    background-color: aliceblue;
    height: 45px;
    width: 45px;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 40px;
}
#oito{
    background-color: aliceblue;
    height: 45px;
    width: 45px;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 40px;
}
#nove{
    background-color: aliceblue;
    height: 45px;
    width: 45px;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 40px;
}
#soma{
    background-color: aliceblue;
    height: 45px;
    width: 45px;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 40px;
}
#l3{
  display: flex;
  justify-content: space-evenly; 
  align-items: center; 
  position: relative;
  top: 80px;
}
#quatro{
    background-color: aliceblue;
    height: 45px;
    width: 45px;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 40px;
}
#cinco{
    background-color: aliceblue;
    height: 45px;
    width: 45px;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 40px;
}
#seis{
    background-color: aliceblue;
    height: 45px;
    width: 45px;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 40px;
}
#virg{
    background-color: aliceblue;
    height: 45px;
    width: 45px;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 40px;
}
#l4{
  display: flex;
  justify-content: space-evenly; 
  align-items: center; 
  position: relative;
  top: 90px;
}
#um{
    background-color: aliceblue;
    height: 45px;
    width: 45px;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 40px;
}
#dois{
    background-color: aliceblue;
    height: 45px;
    width: 45px;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 40px;
}
#tres{
    background-color: aliceblue;
    height: 45px;
    width: 45px;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 40px;
}
#igual{
    background-color: aliceblue;
    height: 45px;
    width: 45px;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 40px;
}
#l5{
  display: flex; 
  justify-content: space-around;
  align-items: center; 
  position: relative;
  top: 100px;
}
#zero{
    background-color: aliceblue;
    height: 45px;
    width: 95px;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 40px;
}
