@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: Arial, Helvetica, sans-serif;
    --cor0: #0A6073; 
    --cor1: #0B0D0C;
    --cor2: #D9AD29;
    --cor3: #BF861B;
    --cor4: #F2F2F2;
}

body {
    background-color: var(--cor4);
    width: 100vw;
    height: 100vh;
    direction: rtl;
    display: grid;
    align-content: end;
}

main {
    padding: 15px;
    font-size: 2em;
    direction: ltr;
    text-align: end;
}

p {
    background-color: #0A6073;
}